# Read standard parameters.  The file name MUST be
# absolute and not relative.
#
source ~/hpcm/judge/lib/hpcm_judging.rc

# Modify parameters

# The scoreboard should ignore the `count' problem
# after other problems are gotten.
#
# set scoreboard_problems_deny {
#     count
# }

# The scoreboard should ignore the test account
#
# set scoreboard_submitters_deny {
#     contest-test-account
#     }

# The place to send email when a contestant requests
# attention.
#
set reply_manager "someone@somecomputer"

# The place to send email when the system makes an
# error.
#
set log_manager "someone@somecomputer"

# Compute team start times as the time the team gets
# its first problem.
#
set scoreboard_start_time team

# Require submission email to have a formatted body
# with HPCM_BEGIN, HPCM_END, and `..'s.
#
set format_submissions yes

# Set up to use authentication.  Keyname and key must
# match those in ./contest/secure/hpcm_sendmail.rc.
#
set use_authentication yes
array set authentication_keys {
    foo		ppppppppppp-be-sure-to-delete-this-line
}
