# TCL Parameters File for Informal Contest Judging
#
# File:		hpcm_judging.rc
# Author:	Bob Walton (walton@deas.harvard.edu)
# Date:		Sat Dec 10 12:56:03 EST 2005
#
# The authors have placed this program in the public
# domain; they make no warranty and accept no liability
# for this program.
#
# RCS Info (may not be true date or author):
#
#   $Author: hc3 $
#   $Date: 2005/12/10 17:57:32 $
#   $RCSfile: hpcm_judging.rc,v $
#   $Revision: 1.17 $


# Read standard parameters.
#
source $lib_directory/hpcm_judging.rc

# The following overwrites parameters set by the
# above `source' command.

# Makecontest parameters.

# Set to contest directory, in case the $judging_
# directory/contest link needs to be made.  If needed
# and not set, the name of judging directory with
# `judging' replaced by `contest' and trailing password
# removed will be used.
#
# set contest_directory $env(HOME)/contest_TBD

# Set to the HPCM directory.
#
set hpcm_directory $env(HOME)/hpcm

# Set to the prototype account (as per SETUP_PROTOTYPE)
# if it does not have the name *[-_]proto or is not
# unique.
#
# set hpcm_prototype_account TBD

# Set to something to be added to the front of help/
# this_contest_prototype to make the initial help/
# this_contest.  Unused if only whitespace.
# 
set this_context_prefix "
THIS FILE IS UNEDITED AND INACCURATE!
"

# Default arguments to makecontest.  See below for
# documentation.
#
set makecontest_arguments "
    -informal \
    $judging_directory/help/index, \
	=help/ \
    $hpcm_directory/contestant/help/index, \
	common/=help/, \
	informal/=help/, \
	advanced/=help/, \
	    informal:include, \
	    common:include, \
	    advanced:include \
    $hpcm_directory/problem_library/index, \
	public/=problems/, \
	private/=problems/, \
	    demo:include, \
	    P1:include
"

# The first argument, -informal, tells the type of the
# contest.  The rest of the arguments are a series of
# entries each concerning an index file.  For example,
# the entry:
#
#	    $hpcm_directory/contestant/help/index, \
#		common/=help/, \
#		informal/=help/, \
#		advanced/=help/, \
#		    informal:include, \
#		    common:include, \
#		    advanced:include
#
# concerns the index file whose name (relative to this
# directory) is $hpcm_directory/contestant/help/index.
# You you should look at this file.  Each item in this
# file begins with a line of the format:
#
#	*** name option ...
#
# The instruction `common/=help/' says replace the
# initial substring `common/' with `help/' in the item
# name to make the final file name in the `info' direc-
# tory for email contests or `contest' directory for
# formal or informal contests.  The instruction
# `common:include' says replace the option `common' in
# the index file item by the option `include'.  After
# all replacements are made in the first line of the
# item, the item is used if and only if it has the
# `include' option.  And if used, the item represents a
# file or subdirectory in one of the three contest di-
# rectories `help/', `demos/', or `problems/'.
#
# Index file names must begin with $hpcm_directory,
# $judging_directory, or $env(HOME), so the index files
# can be located if $judging_directory or any of its
# descendant directories is current.
#
# Note that in `$judging_directory/help/index' above
# (not the same as `$hpcm_directory/contestant/help/
# index') the items already have the `include' option.
# `$judging_directory/help/index' is used to start the
# contestants `help/index' file and provide a `this_
# contest' item for the file `help/this_contest'.
#
# Note that in `$hpcm_directory/problem_library/index'
# demo items already have file names beginning with
# `demos/'.
#
# Each index file entry consists of a series of argu-
# ments to makecontest, all but the last of which end in
# `,'.  The last argument of the index file entry does
# NOT end in `,', and the argument after that begins the
# next entry.
#
# The first argument of an entry is the index file name
# and the other arguments are replacement instructions,
# with `=' for name replacements, and `:' for option
# replacements.  For more details, see the documentation
# of makecontest (run `makecontest -doc').

# The scoreboard should ignore the `count' problem
# after other problems are submitted.  So after some
# other problems are submitted, remove the `#' that
# comments this out.
#
# set scoreboard_problems { ! count }

# The scoreboard should ignore the test account after
# you have finished testing.  So replace `test-account'
# with the name of your test account, and, after test-
# ing, remove the `#' that comments this out.
#
# set scoreboard_submitters { ! test-account }

# Scoreboard name, i.e., the name of the contest.
#
set scoreboard_name ""

# By default, the start time of a problem is the time
# the contestant gets that problem.  By setting the
# start time to `team' (uncommenting what follows), you
# make the problem start time the time the team gets
# its first problem.
#
# set scoreboard_start_time team

# List of addresses for `makescoreboard' to email
# scoreboard to.  If scoreboard_instructions includes
# a `SEND' instruction for an OUTPUT file, and
# scoreboard_addresses is a list containing zzz<YYY>,
# then every time the output file is made it will be
# emailed to `zzz<YYY>', so in the account YYY
# .procmailrc file you should put something like:
#
#	:0 b:
#	* ^To:.*zzz
#	| cat >public_html/xxx;\
#	  chmod a+r public_html/xxx
#
# See documentation for `scoreboard_instructions' for
# more details and additional SEND features.
#
set scoreboard_addresses { }

# Standard scoreboard instructions for an informal
# contest:
#
set scoreboard_instructions {
    { OUTPUT contest/scoreboard.1 }
    GRANT_ACCESS
    SEND
    { LINE NAME "" TIME }
    BLANK
    { INPUT contest/scoreboard.1head }
    BLANK
    BAR
    BOARD
    BAR
}

# The place to send email when a contestant requests
# attention.  If "" no email will be sent.
#
set reply_manager "someone@somecomputer"

# The place to send email when the system makes an
# error.  If "" no email will be sent.
#
set log_manager "someone@somecomputer"

# Require submission email to have a formatted body
# with HPCM_BEGIN, HPCM_END, and `..'s.
#
set format_submissions yes

# Set up to use authentication.  Keyname and key must
# match those in ./contest/secure/hpcm_sendmail.rc.
# Edit this to match what is given in the `TODO'
# file instruction generated when you run `make' in
# this directory.
#
set use_authentication yes
array set authentication_keys {
    foo		ppppppppppp-be-sure-to-delete-this-line
}

# The following control the makeweb program that makes a
# web page containing problem statements and optionally
# solutions.  For an end-of-contest web page just con-
# taining problem descriptions, these need not be re-
# defined.  See hpcm/judge/lib/hpcm_judging.rc for more
# details.
#
set web_contest_name $scoreboard_name
set web_autojudge_address ""
set web_solutions_password ""
set web_help_URL ""
set web_scoreboard_URL ""
set web_manager_address ""
