# TCL Parameters File for Informal Contest Judging
#
# File:		hpcm_judging.rc
# Author:	Bob Walton (walton@deas.harvard.edu)
# Date:		Fri Oct  4 01:56:45 EDT 2002
#
# The authors have placed this program in the public
# domain; they make no warranty and accept no liability
# for this program.
#
# RCS Info (may not be true date or author):
#
#   $Author: hc3 $
#   $Date: 2002/10/04 05:58:47 $
#   $RCSfile: hpcm_judging.rc,v $
#   $Revision: 1.15 $


# Read standard parameters.  The filename MUST be
# absolute and not relative.  Change the filename
# to reflect the current location of `hpcm'.
#
source ~/hpcm/judge/lib/hpcm_judging.rc

# The following overwrites parameters set by the
# above `source' command.

# The scoreboard should ignore the `count' problem
# after other problems are submitted.  So after some
# other problems are submitted, remove the `#' that
# comments this out.
#
# set scoreboard_problems { ! count }

# The scoreboard should ignore the test account after
# you have finished testing.  So replace `test-account'
# with the name of your test account, and, after test-
# ing, remove the `#' that comments this out.
#
# set scoreboard_submitters { ! test-account }

# Scoreboard name, i.e., the name of the contest.
#
set scoreboard_name ""

# By default, the start time of a problem is the time
# the contestant gets that problem.  By setting the
# start time to `team' (uncommenting what follows), you
# make the problem start time the time the team gets
# its first problem.
#
# set scoreboard_start_time team

# List of addresses for `makescoreboard' to email
# scoreboard to.  If scoreboard_instructions includes
# a `{ SEND xxx }' instruction for an OUTPUT file,
# and scoreboard_addresses is a list containing YYY,
# then every time the output file is made it will be
# emailed to `xxx<YYY>', so in the account YYY
# .procmailrc file you should put something like:
#
#	:0 b:
#	* ^To:.*xxx
#	| cat >public_html/xxx;\
#	  chmod a+r public_html/xxx
#
# If instead of YYY you put zzz<YYY> in the list, the
# output will be emailed to `xxx-zzz<YYY>'.  See docu-
# mentation for `scoreboard_instructions' for more
# details and additional SEND features.
#
set scoreboard_addresses { }

# Standard scoreboard instructions for an informal
# contest:
#
set scoreboard_instructions {
    { OUTPUT contest/scoreboard.1 }
    GRANT_ACCESS
    { SEND scoreboard }
    { LINE NAME "" TIME }
    BLANK
    { INPUT contest/scoreboard.1head }
    BLANK
    BAR
    BOARD
    BAR
}

# The place to send email when a contestant requests
# attention.  If "" no email will be sent.
#
set reply_manager "someone@somecomputer"

# The place to send email when the system makes an
# error.  If "" no email will be sent.
#
set log_manager "someone@somecomputer"

# Require submission email to have a formatted body
# with HPCM_BEGIN, HPCM_END, and `..'s.
#
set format_submissions yes

# Set up to use authentication.  Keyname and key must
# match those in ./contest/secure/hpcm_sendmail.rc.
# Edit this to match what is given in the `TODO'
# file instruction generated when you run `make' in
# this directory.
#
set use_authentication yes
array set authentication_keys {
    foo		ppppppppppp-be-sure-to-delete-this-line
}

# The following control the makeweb program that makes a
# web page containing problem statements and optionally
# solutions.  For an end-of-contest web page just con-
# taining problem descriptions, these need not be re-
# defined.  See hpcm/judge/lib/hpcm_judging.rc for more
# details.
#
set web_contest_name $scoreboard_name
set web_autojudge_address ""
set web_solutions_password ""
set web_help_URL ""
set web_scoreboard_URL ""
set web_manager_address ""
