# BOSPRE-USB boot service.  Runs late in boot.

[Unit]
Description=BOSPRE USB Bootstrap Service
Conflicts=shutdown.target
Before=shutdown.target
After=network.target local-fs.target

[Service]
Type=oneshot
ExecStart=/lib/systemd/bospre-boot
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
