[Desktop Entry]
Name=BOSPRE Terminal
Comment=Use the command line
Keywords=shell;prompt;command;commandline;cmd;
TryExec=/usr/bin/bospre-practice
Exec=/usr/bin/bospre-practice
# Icon=utilities-terminal
Icon=/usr/share/icons/bospre-practice-icon.png
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.28.1
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
X-GNOME-SingleWindow=false
OnlyShowIn=GNOME;Unity;
Actions=new-window
X-Ubuntu-Gettext-Domain=gnome-terminal

X-AppStream-Ignore=true

[Desktop Action new-window]
Name=New Terminal
Exec=/usr/bin/bospre-practice
