# TCL Parameters File for Testing
#
# File:		hpcm_judging.rc
# Author:	Bob Walton (walton@deas.harvard.edu)
# Date:		Mon Sep 18 08:46:12 EDT 2006
#
# The authors have placed this program in the public
# domain; they make no warranty and accept no liability
# for this program.
#
# RCS Info (may not be true date or author):
#
#   $Author: walton $
#   $Date: 2006/09/18 12:50:03 $
#   $RCSfile: hpcm_judging.rc,v $
#   $Revision: 1.7 $


# Read standard parameters.
#
source $lib_directory/hpcm_judging.rc

# The following overwrites parameters set by the
# above `source' command.

set makecontest_arguments "
    -solutions -mail
    $env(HOME)/hpcm/problem_library/test/test_index,
	=problems/
"

# Keep submission dates from gyrating.
#
set use_gmt yes

# Disable sending replies by making functions that
# normally exec /usr/sbin/sendmail into no operations.
#
proc send_mail { message_file } {
}
proc send_message { message } {
}

# Enable various submit qualifiers.
#
set response_mode first+summary+in+inout+solution+cerr

# Set scoreboard.
#
set scoreboard_use_feedback yes
set scoreboard_start_time ""
