# This file sets parameters for the autojudge.
#
# We must not return solutions for this demo, as we may
# not have properly named files, and we do not want to
# upset tests that depend upon replies being the same
# for all contests, including those that do not return
# solutions.  But the submitter already has the solu-
# tions anyway, so returning them is senseless.
#
# Do not do anything if not sourced in the global
# environment.
#
if { [info exists response_mode] } {
    regsub solution $response_mode "" response_mode
}
