# TCL Parameters File for Formal Contest Judging
#
# File:		hpcm_judging.rc
# Author:	Bob Walton (walton@deas.harvard.edu)
# Date:		Mon Oct 29 08:09:30 EST 2001
#
# The authors have placed this program in the public
# domain; they make no warranty and accept no liability
# for this program.
#
# RCS Info (may not be true date or author):
#
#   $Author: hc3 $
#   $Date: 2001/10/29 13:19:19 $
#   $RCSfile: hpcm_judging.rc,v $
#   $Revision: 1.7 $


# Read standard parameters.  The filename MUST be
# absolute and not relative.  Change the filename
# to reflect the current location of `hpcm'.
#
source ~/hpcm/judge/lib/hpcm_judging.rc

# The following overwrites parameters set by the
# above `source' command.

# The scoreboard should ignore the `count' problem
# after other problems are submitted.  So after some
# other problems are submitted, remove the `#' that
# comments this out.
#
# set scoreboard_problems { ! count }

# The scoreboard should ignore the test account after
# you have finished testing.  So replace `test-account'
# with the name of your test account, and, after test-
# ing, remove the `#' that comments this out.
#
# set scoreboard_submitters { ! test-account }

# Set the start/freeze/stop times for the contest.  In
# order to get the contest scoreboard to show demo pro-
# blems before the contest begins, leave the scoreboard_
# start_time commented out (and thereby set to "") until
# after the first non-demo submissions.
#
# set scoreboard_start_time  "Jan 1 10:00:00 EDT 2000"
set scoreboard_freeze_time "Jan 1 14:00:00 EDT 2000"
set scoreboard_stop_time   "Jan 1 15:00:00 EDT 2000"

# Set penalty time IN SECONDS for submitting an
# incorrect solution to a problem for which a correct
# solution is later submitted.
#
set scoreboard_penalty 0

# Scoreboard name, i.e, the name of the contest.
#
set scoreboard_name ""

# List of addresses for `makescoreboard' to email
# scoreboard to.
#
set scoreboard_addresses { }

# Standard scoreboard instructions for a formal
# contest:
set scoreboard_instructions {

    { OUTPUT contest/scoreboard.freeze FREEZE FREEZE }

    BLANK
    { LINE "To heighten suspense, scoreboard updating\
            has been stopped as of:" }
    { LINE "" FREEZE "" }
    { LINE "You will be given a copy of the final\
            scoreboard after winners have been" }
    { LINE "announced at the post contest meeting." }

    { OUTPUT contest/scoreboard.public START FREEZE }

    { stop_time FREEZE }
    BOARD

    { OUTPUT contest/scoreboard.1 }
    GRANT_ACCESS
    SEND

    { LINE NAME "Public Scoreboard" TIME }
    { INPUT contest/scoreboard.freeze }
    BLANK
    { INPUT contest/scoreboard.1head }
    BLANK
    BAR
    { INPUT contest/scoreboard.public }
    BAR

    { OUTPUT contest/scoreboard.current FREEZE STOP }

    { LINE NAME "Current Scoreboard" TIME }
    BLANK
    BAR
    { stop_time STOP }
    BOARD
    BAR
    { INPUT contest/who_where }
    BAR

    { OUTPUT contest/scoreboard.final STOP STOP }

    { LINE NAME "Final Results" "" STOP }
    BLANK
    BAR
    { stop_time STOP }
    BOARD
    BAR
    { INPUT contest/who_where }
    BAR
}

# Set modes to automatically reply in so far as possible
# and have manual review of everything in which the
# automatic reply might not be correct.  However, system
# errors are for manual review only.
#
set scoring_mode auto+manual
set reply_mode auto+manual
set log_mode manual

# Do not use email to an outside place for errors or
# queries.  Reply_manager is the place to send email if
# a contestant sends a query, and log_manager is the
# place to send email if the system makes an error.
# If "" no email is sent.
#
set reply_manager ""
set log_manager ""

# Set the manualreply display to have a certain height
# with a given number of blank lines above that.  If you
# have a taller display, increase the height.
#
set window_blank_height 16
set window_height 24

# Require submission email to have a formatted body
# with HPCM_BEGIN, HPCM_END, and `..'s.
#
set format_submissions yes

# Set up to use authentication.  Keyname and key must
# match those in ./contest/secure/hpcm_sendmail.rc.
# Edit this to match what is given in the `TODO'
# file instruction generated when you run `make' in
# this directory.
#
set use_authentication yes
array set authentication_keys {
    foo		ppppppppppp-be-sure-to-delete-this-line
}
