# Read standard parameters.  The file name MUST be
# absolute and not relative.
#
source ~/hpcm/judge/lib/hpcm_judging.rc

# Modify parameters

# The scoreboard should ignore the `count' problem
# after other problems are submitted.
#
# set scoreboard_problems_deny {
#     count
# }

# The scoreboard should ignore the test account
#
# set scoreboard_submitters_deny {
#     contest-test-account
#     }

# Set the start times for the contest.  In order
# to get the contest scoreboard to show demo
# problems before the contest begins, leave the
# scoreboard_start_time equal to "" until the
# contest starts.
#
set scoreboard_start_time ""
#   [clock scan "Jan 1 10:00:00 EDT 2000"]

set scoreboard_stop_time
    [clock scan "Jan 1 15:00:00 EDT 2000"]

# Set penalty time IN SECONDS for submitting an
# incorrect solution to a problem for which a correct
# solution is later submitted.
#
set scoreboard_penalty 0

# Set modes to automatically reply in so far as possible
# and have manual review of everything in which the
# automatic reply might not be correct.  However, system
# errors are for manual review only.
#
set scoring_mode auto+manual
set reply_mode auto+manual
set log_mode manual

# Do not use email to a judge for errors or queries.
#
set reply_manager ""
set log_manager ""

# Set the manualreply display to have a certain height
# with a given number of blank lines above that.  If you
# have a taller display, increase the height.
#
set window_blank_height 16
set window_height 24

# Require submission email to have a formatted body
# with HPCM_BEGIN, HPCM_END, and `..'s.
#
set format_submissions yes

# Set up to use authentication.  Keyname and key must
# match those in ./contest/secure/hpcm_sendmail.rc.
#
set use_authentication yes
array set authentication_keys {
    foo		ppppppppppp-be-sure-to-delete-this-line
}
