# Read standard parameters.  The file name MUST be
# absolute and not relative.
#
source ~/hpcm/judge/lib/hpcm_judging.rc

# Modify parameters

# The scoreboard should ignore the `count' problem.
#
set scoreboard_problems_deny {
    count
    }

# The place to send email when a contestant requests
# attention.
#
set reply_manager "walton@deas.harvard.edu"

# The place to send email when the system make an error.
#
set log_manager "walton@deas.harvard.edu"
