# TCL Parameters File for Judging
#
# File:		hpcm_judging.rc
# Author:	Bob Walton (walton@deas.harvard.edu)
# Date:		Fri Aug 18 05:21:41 EDT 2000
#
# The authors have placed this program in the public
# domain; they make no warranty and accept no liability
# for this program.
#
# RCS Info (may not be true date or author):
#
#   $Author: acm-cont $
#   $Date: 2000/08/19 15:56:06 $
#   $RCSfile: hpcm_judging.rc,v $
#   $Revision: 1.4 $
#

# An optionally modified copy of this file must be
# placed in (or symbolically linked into) the current
# directory of an executing judging program, or one
# of the ancestors (parent, parent of parent, etc.) of
# that directory (3 ancestors will be searched).

# File names:
#
set received_file	"Received_Mail"
set reply_file		"Reply_Mail"
set history_file	"Reply_History_Mail"
set instructions_file	"Scoring_Instructions"
set auto_score_file	"Auto_Score"
set manual_score_file	"Manual_Score"
set make_file		"Makefile"

# Directory names:
#
set mail_directory \
    "$judging_parameters_directory/mail"
set solutions_directory \
    "$judging_parameters_directory/solutions"
set info_directory \
    "$judging_parameters_directory/info"

# Regexp expressions matched to lines in output file to
# detect limit overruns (letter case is ignored):
#
set time_limit_regexp {.*cputime limit exceeded.*}
set output_limit_regexp {.*filesize limit exceeded.*}

# Default for Scoring_Instructions file:
#
set scoring_instructions_default \
    "whitespace linebreak number 0"

# Allowed extensions for submitted programs:
#
set allowed_extensions ".c .cc .java"

# Regexp to match first line of mail message.
# If you send a line matching this in a mail message,
# a `>' will be prefixed to prevent the line from
# matching this regexp.
#
set From_line_regexp {^From\ }

# Program to call to send mail.  Should take raw mail
# message and mail addresses as arguments.  Raw mail
# message will have `To:' lines matching address
# arguments.
#
set sendmail_program "/usr/sbin/sendmail"
